@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
#topbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  background-color: #a8a7a7;
  padding: 20px 0;
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
}

#topbar h2 {
  display: inline-block;
  padding: 20px;
  background-color: #e8175d;
  border-radius: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  border: black 4px solid;
  font-size: 20px;
}

#topbar button {
  padding: 5px 12px;
  border-radius: 5px;
  background-color: #363636;
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  margin-top: 30px;
  margin-right: 20px;
  cursor: pointer;
}
